@(message: String)

@main("Welcome to Play 2.0") {
<div class="content without_left_nav">
    <div class="right_section">
        <div id="visualization" style="width: 500px; height: 400px;"></div>
    </div>
    <div class="clear"></div>
</div>


<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', {packages:['corechart']});
</script>
<script type="text/javascript">
    function drawVisualization() {
        $.getJSON(
                'reviews_by_month/json',
                function (data) {
                    // Create and populate the data table.
                    var data = google.visualization.arrayToDataTable(data);

                    // Create and draw the visualization.
                    new google.visualization.LineChart(document.getElementById('visualization')).
                            draw(data, {curveType:"function",
                                width:900, height:400,
                                vAxis:{maxValue:10}}
                    );
                });

    }
    google.setOnLoadCallback(drawVisualization);
</script>
}