@(message: String)

@main("Welcome to Play 2.0") {
<script type="text/javascript" src="http://jseasycharts.googlecode.com/files/jseasycharts.min.js"></script>
<div class="content without_left_nav">
    <div class="right_section">
        <div id="bar5" style="width: 900px; height: 500px;"></div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    $.getJSON(
            'reviews_by_month/json',
            function (data) {
                jsEasyCharts.bar(
                        'bar5',
                        data,
                        {
                            type:'vertical',
                            size:'750x300',
                            barWidth:50,
                            barSpacing:5,
                            dataScaling:{
                                top:50,
                                bottom:0
                            },
                            axisLabels:[ '0', '5', '10',
                                '20', '30', '40', '50']
                        }
                );
            }
    );
</script>
}